  html{

    background-color: #f1f1f1;
    font-family: Helvetica, Arial;

}

body{
  font-size: 18px;
  color:  #666;
}


/*present every page*/
#mainTitle{
  text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 100%;
}

#slogan{
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    width: 100%;
}

#logo {
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding-left: 10px;
}


#wrong {
  text-align: center;
  margin-top: 10px;
}


/*buttons*/

button{
  cursor: pointer;
  padding: 5px 10px;
  background-color: #008080;
  color: white;
  font-size: 14px;

} 

/*.thisButton {
  float: right;
}*/

button:hover {
  background-color: #666;
}

button:focus {
  outline:0;
}


#upperButtons {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 10px;
  text-align: right;
}

#create {
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: right;
}

.yesRad {
  border-radius: 6px;
}




/*showing bored api on front page*/
#ideaHome {
  text-align: center;
  color: #008080;
}
#hoverIdea {
  font-size: 14px;
  font-style: italic;
}


/*Collapsibles*/
#mainList {
  overflow: hidden;
  border-radius: 2px;
}

#oldList {
  overflow: hidden;
  border-radius: 2px;
}

.collapsible {
    background-color: #008080;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid #666;

}

.active, .collapsible:hover {
    background-color: #666;
}

.content {
    margin-top: 10px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.contentOld {
    margin-top: 10px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#pastEvents {
  margin-left: 15px;
}


/*.eventFull {
  margin-bottom: 10px;
}*/
/*create event page*/


/*tables*/
td {
padding: 0 50px 0 50px;
}

.cellWidth {
  width: 300px;
}



/*create*/
input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

#eventType {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#conMethod {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


#description {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: 350px;
  height: 150px;
}

.textInput {
  width: 350px;
}

#eventTitle {
  display: inline;
}

#ideaPos {
  display: inline;
}

#eventDropdown {
  display: inline;
}

#ideaTime {
  display: inline;
}




/*aboutpage*/
#aboutPage {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    color: 008080;
}


/*for the bar chart*/
.bar {
    fill: #008080;

}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;

}

.label {
    font-size: 13px;

}